<div class="row">
    <div class="col-md-12">
        Kies uit hoeveel kolommen de nieuwe rij moet bestaan en klik op "accepteren".
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-justified sx-column-options" data-toggle="buttons">
            <label class="btn btn-primary sx-button">
                <input type="radio" name="options">1 Vak
            </label>
            <label class="btn btn-primary sx-button">
                <input type="radio" name="options">2 Vakken
            </label>
            <label class="btn btn-primary sx-button active">
                <input type="radio" name="options" checked="checked">3 Vakken
            </label>
            <label class="btn btn-primary sx-button">
                <input type="radio" name="options">4 Vakken
            </label>
        </div>
    </div>
</div>
<hr>
<div class="row sx-edit-row">
</div>
