<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="sx-new-page-name" class="col-xs-2 control-label">Naam</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="sx-new-page-name" placeholder="Mijn pagina..." />
        </div>
    </div>
    <div class="form-group sx-new-page-slug-group">
        <label for="sx-new-page-slug" class="col-xs-2 control-label">Url</label>
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">/</span>
                <input type="text" class="form-control" id="sx-new-page-slug" placeholder="mijn-pagina" />
            </div>
            <span class="help-block hidden">Ongeldige url</span>
        </div>
    </div>
</form>
