<div class="sx-edit sx-ns">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sx-tools">
                    <span class="sr-only">Toggle navigatie</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SxEditor</a>
            </div>
            <div class="collapse navbar-collapse" id="sx-tools">
                <div class="sx-sections">
                <!--</div>-->
                <!--<ul class="nav navbar-nav sx-site-controls sx-controls">-->
                    <!--<li class="dropdown">-->
                        <!--<a id="sx-dropdown-page" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<span class="fa fa-globe"></span>-->
                            <!--Pagina <b class="caret"></b>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu" role="menu" aria-labelledby="page">-->
                            <!--<li role="presentation"><a data-control="create-page" href="#" role="menuitem"><span class="fa fa-plus"></span> Aanmaken</a></li>-->
                            <!--<li role="presentation"><a role="menuitem" data-control="delete-page" href="#" ><span class="fa fa-trash-o"></span> Verwijderen</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#" role="button" data-control="edit-rows">-->
                            <!--<span class="fa fa-pencil"></span>-->
                            <!--Rijen aanpassen-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <ul class="nav navbar-nav navbar-right sx-site-controls sx-controls">
                    <li>
                        <div class="btn-group">
                            <button type="button" class="sx-tooltip btn btn-primary navbar-btn" data-container="body" data-placement="bottom" data-title="Publiceren" data-control="publish">
                                <span class="fa fa-save"></span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="sx-tooltip btn btn-default navbar-btn" data-container="body" data-placement="bottom" data-title="Uitloggen" data-control="logout">
                                <span class="fa fa-sign-out"></span>
                            </button>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right sx-component-controls sx-controls">
                    <li>
                        <div class="btn-group">
                            <button type="button" class="sx-tooltip btn btn-success navbar-btn" data-control="done" data-container="body" data-placement="bottom" data-title="Klaar">
                                <span class="fa fa-check"></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
